<section class="container-fluid pb-5 mb-5">
  <div class="row justify-content-evenly">

    <div class="col-12 col-lg-8 py-4 mb-4">
      <div class="row justify-content-center py-5">
        <div class="col-12 col-lg-11 col-xl-9">
          <h4 class="font-medium fs-md-1 fc-primary">Nuestra aplicación móvil</h4>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-12 col-lg-11 col-xl-9">
          <div class="col-12 pb-3">
            <h4 class="fs-md-2 font-bold app-name">Plutón App</h4>
          </div>

          <div class="col-9 py-3">
            <p class="fc-primary font-bold fs-lg-3">
              ¡Descargá nuestra Aplicación y Descubrí un Mundo de Lecturas Emocionantes!
            </p>
          </div>

          <div class="col-10 py-3">
            <p class="fc-primary fs-sm-1">
              Descarga nuestra aplicación móvil y sumérgete en un universo de libros emocionantes, aventuras inolvidables y descubrimientos literarios.
            </p>
          </div>

          <div class="col-10 py-3">
            <p class="fc-primary fs-sm-1">
              Únete a nuestra comunidad de lectores apasionados y descubre la próxima gran aventura literaria al alcance de tu mano. ¡Descarga ahora!
            </p>
          </div>

          <div class="col-auto py-3">
            <button class="btn btn-link">
              <img src="./assets/img/mobile-app/play-store-button.png" class="img-fluid" alt="" />
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="d-none d-lg-block col-lg-4 pt-4 backgorund-color-green">
      <div class="row justify-content-center pt-4">
        <div class="col-7 pt-4">
          <img src="./assets/img/mobile-app/mobile-home.png" class="img-fluid pt-4" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
