<section class="container-fluid pt-5 mt-5">
  <div class="row justify-content-center align-items-center gy-3">
    <div class="col-12">
      <span class="font-bold fs-md-2 fc-secondary">Usuarios</span>
    </div>

    <div class="col-12 pt-3 input-group">
      <input type="text" class="form-control" placeholder="Buscar" (keyup.enter)="onClickSearch()" [(ngModel)]="name">
      <button class="btn btn-outline-primary search-button pt-3" type="button" (click)="onClickSearch()"><span
          class="material-icons">search</span>
      </button>
    </div>
  </div>
</section>

<section class="container-fluid mt-5 table-responsive bg-white dashboard-table vh-100">
  <div class="row">
    <table class="table table-striped col-12 align-middle">
      <thead>
        <tr>
          <th scope="col" class="col">Nombre</th>
          <th scope="col" class="col">Correo</th>
          <th scope="col" class="col">Teléfono</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.telephone_area_code}}{{user.telephone_number}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
