<div class="modal-body">
  <div class="container">
    <div class="row">
      <div class="text-end pt-4 pe-3">
        <button type="button" class="btn-close" aria-label="Close" (click)="onClose()"></button>
      </div>

      <div class="row justify-content-center">
        <div class="col-12 mb-2">
          <h4 class="font-medium fs-md-1 fc-secondary">
            Editar datos personales
          </h4>
        </div>
      </div>
    </div>

    <form [formGroup]="formUser" (submit)="updateProfile()" class="row justify-content-center">
      <div class="col-12">
        <div class="form-floating">
          <input type="text" id="name" class="form-control fw-300" placeholder="Nombre y apellido"
            formControlName="name" />
          <label for="name">Nombre y apellido</label>
        </div>
        <div *ngIf="name?.errors && name?.touched">
          <ng-container *ngFor="let error of errorMessages.name">
            <div class="text-danger" *ngIf="name?.hasError(error.type)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>
      </div>

      <div class="col-12 pt-3">
        <div class="form-floating">
          <input type="text" id="documentLabel" class="form-control fw-300" placeholder="Documento de identidad"
            formControlName="document" />
          <label for="documentLabel">Documento de identidad</label>
        </div>
        <div *ngIf="document?.errors && document?.touched">
          <ng-container *ngFor="let error of errorMessages.document">
            <div class="text-danger" *ngIf="document?.hasError(error.type)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>
      </div>

      <div class="col-12 pt-3">
        <div class="form-floating">
          <input type="text" id="areaCodeLabel" class="form-control fw-300" placeholder="Código de area"
            formControlName="areaCode" />
          <label for="areaCodeLabel">Código de area</label>
        </div>
        <div *ngIf="areaCode?.errors && areaCode?.touched">
          <ng-container *ngFor="let error of errorMessages.areaCode">
            <div class="text-danger" *ngIf="areaCode?.hasError(error.type)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>
      </div>

      <div class="col-12 pt-3">
        <div class="form-floating">
          <input type="text" id="telephoneLabel" class="form-control fw-300" placeholder="Teléfono"
            formControlName="telephone" />
          <label for="telephoneLabel">Teléfono</label>
        </div>
        <div *ngIf="telephone?.errors && telephone?.touched">
          <ng-container *ngFor="let error of errorMessages.telephone">
            <div class="text-danger" *ngIf="telephone?.hasError(error.type)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>
      </div>

      <!-- <div class="col-12 pt-3">
        <div class="form-floating">
          <input type="email" id="emailLabel" class="form-control fw-300" placeholder="Correo electrónico"
            formControlName="email" />
          <label for="emailLabel">Correo electrónico</label>
        </div>
        <div *ngIf="telephone?.errors && telephone?.touched">
          <ng-container *ngFor="let error of errorMessages.telephone">
            <div class="text-danger" *ngIf="telephone?.hasError(error.type)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>
      </div> -->

      <div class="modal-footer col-12">
        <button type="submit" class="col-12 confirm-button py-2 login-button font-semi-bold fs-md"
          [disabled]="formUser.invalid">
          Guardar cambios
        </button>
      </div>
    </form>
  </div>
</div>
