<section class="container-fluid pt-5 mt-5">
  <div class="row justify-content-center align-items-center gy-3">
    <div class="col-12">
      <span class="font-bold fs-md-2 fc-secondary">Libros</span>
    </div>

    <div class="col-12 pt-3 input-group">
      <input type="text" class="form-control" placeholder="Buscar" (keyup.enter)="onClickSearch()" [(ngModel)]="title">
      <button class="btn btn-outline-primary search-button pt-3" type="button" (click)="onClickSearch()"><span
          class="material-icons">search</span>
      </button>
    </div>

    <div class="col-12 text-end">
      <button type="button" role="button" class="std-button py-2 col-12" (click)="onCreateBook()">
        Agregar Libro
      </button>
    </div>
  </div>
</section>

<section class="container-fluid mt-5 table-responsive bg-white dashboard-table vh-100">
  <table class="table table-striped align-middle">
    <thead>
      <tr>
        <th scope="col" class="col">Libro</th>
        <th scope="col" class="col">Autor</th>
        <th scope="col" class="col-5">Acciones</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let book of books">
        <td>
          <div class="row">
            <div class="col-6">
              <img [src]="book.book_cover" alt="imagen de portada de el libro {{book.title}}" class="img-fluid">
            </div>
            <div class="col-12 align-self-center">
              <span>{{book.title}}</span>
            </div>
          </div>
        </td>

        <td>{{book.author.name}}</td>

        <td>
          <div class="row">
            <div class="col">
              <button class="edit-btn" type="button" title="ver detalle" (click)="onViewBook(book.id_book)">
                <img src="./assets/icons/actions/eye.png" alt="" class="img-fluid">
              </button>
            </div>
            <div class="col">
              <button class="trash-btn" type="button" title="editar" (click)="onEditBook(book.id_book)">
                <img src="./assets/icons/actions/edit.png" alt="" class="img-fluid">
              </button>
            </div>
            <div class="col">
              <button class="trash-btn" type="button" title="eliminar" (click)="onDeleteBook(book.id_book)">
                <img src="./assets/icons/actions/trash.png" alt="" class="img-fluid">
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
