<div class="modal-body p-0 m-0">
  <div class="container">
    <div class="row">
      <div class="text-end pt-4 pe-3">
        <button type="button" class="btn-close" aria-label="Close" (click)="onClose()"></button>
      </div>

      <div class="row justify-content-start">
        <div class="col-12 mb-2">
          <h4 class="font-medium fs-md-1 fc-primary">Editar dirección</h4>
        </div>
      </div>
    </div>

    <form [formGroup]="formAddress" (submit)="updateProfile()">
      <div class="row mb-3">
        <label for="inputAddress" class="col-sm-2 col-form-label visually-hidden">Calle y numero</label>
        <div class="col-sm-12">
          <input type="text" formControlName="address" class="form-control" id="inputAddress"
            placeholder="Calle y número" />
            <div *ngIf="address?.errors && address?.touched">
              <ng-container *ngFor="let error of errorMessages.address">
                <div class="text-danger" *ngIf="address?.hasError(error.type)">
                  {{ error.message }}
                </div>
              </ng-container>
            </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="inputZip" class="col-sm-2 col-form-label visually-hidden">Codigo postal</label>
        <div class="col-sm-12">
          <input type="number" formControlName="postalCode" class="form-control" id="inputZip" placeholder="Código postal" />
          <div *ngIf="postalCode?.errors && postalCode?.touched">
            <ng-container *ngFor="let error of errorMessages.postalCode">
              <div class="text-danger" *ngIf="postalCode?.hasError(error.type)">
                {{ error.message }}
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="inputLocality" class="col-sm-2 col-form-label visually-hidden">Localidad</label>
        <div class="col-sm-12">
          <input type="text" formControlName="location" class="form-control" id="inputLocality" placeholder="Localidad" />
          <div *ngIf="location?.errors && location?.touched">
            <ng-container *ngFor="let error of errorMessages.location">
              <div class="text-danger" *ngIf="location?.hasError(error.type)">
                {{ error.message }}
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <label for="inputProvince" class="col-sm-2 col-form-label visually-hidden">Provincia</label>
        <div class="col-sm-12">
          <input type="text" formControlName="province" class="form-control" id="inputProvince" placeholder="Provincia" />
          <div *ngIf="province?.errors && province?.touched">
            <ng-container *ngFor="let error of errorMessages.province">
              <div class="text-danger" *ngIf="province?.hasError(error.type)">
                {{ error.message }}
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div>
          <button type="button" class="btn btn-cancel me-5" data-bs-dismiss="modal" (click)="onClose()">
            Cancelar
          </button>
        </div>
        <div>
          <button type="submit" class="std-button p-2" [disabled]="formAddress.invalid">
            Guardar cambios
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
