<section class="container-fluid pt-5 mt-5">
  <div class="row justify-content-center align-items-center gy-3">
    <div class="col-12">
      <span class="font-bold fs-md-2 fc-secondary">Sucursales</span>
    </div>

    <div class="col-12 text-end">
      <button type="button" role="button" class="std-button py-2 col-12" (click)="onCreateStore()">
        Agregar Sucursal
      </button>
    </div>
  </div>
</section>

<section class="container-fluid mt-5 table-responsive bg-white dashboard-table vh-100">
  <table class="table table-striped align-middle">
    <thead>
      <tr>
        <th scope="col" class="col">Dirección</th>
        <th scope="col" class="col">Localidad</th>
        <th scope="col" class="col">Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let store of stores">
        <td>{{store.street_number}}</td>
        <td>{{store.locality}}</td>

        <td>
          <div class="row">
            <div class="col">
              <button class="trash-btn" type="button" title="editar" (click)="onEditStore(store.id_store)">
                <img src="./assets/icons/actions/edit.png" alt="" class="img-fluid">
              </button>
            </div>
            <div class="col">
              <button class="trash-btn" type="button" title="eliminar" (click)="onDeleteStore(store.id_store)">
                <img src="./assets/icons/actions/trash.png" alt="" class="img-fluid">
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</section>
