<section class="container-fluid bg-color pt-4">
  <div class="row">
    <div class="col-12">
      <h4 class="font-medium fs-md-1 fc-secondary">Suscripción Literaria</h4>
    </div>

    <div class="col-12 pt-3">
      <img src="./assets/img/img utils/book-box.png" class="img-fluid" alt="" />
    </div>

    <div class="col-12 pt-3">
      <h4 class="fs-md-2 font-bold s-lg-2 app-name">¿Que es?</h4>
    </div>

    <div class="col-12 pt-3">
      <p class="fc-primary fs-sm-1">
        Recibirás en tu domicilio una caja que contiene:
      </p>
    </div>

    <div class="col-12 pt-3">
      <p class="fc-primary fs-sm-1">
        Una emocionante <span class="app-name">novedad literaria</span> acompañada de sorpresas adicionales para
        enriquecer tu <span class="app-name">experiencia de lectura</span>.
      </p>
    </div>

    <div class="col-12 pt-3">
      <p class="fc-primary fs-sm-1">
        Nuestro propósito es fomentar el hábito de la lectura al <span class="app-name">proporcionarte
          mensualmente un libro</span> que te entusiasme abrir y disfrutar.
      </p>
    </div>

    <div class="col-12 pt-3">
      <p class="fc-primary fs-sm-1">
        En nuestra suscripción, nos dedicamos a seleccionar cuidadosamente cada título que recibes en tu domicilio.
      </p>
    </div>

    <div class="col-12 pt-3">
      <p class="fc-primary fs-sm-1">
        Nuestro equipo realiza una curaduría meticulosa para ofrecerte una variedad de libros que no solo son
        emocionantes de leer, sino que también reflejan nuestra apuesta por nuevos talentos literarios,
        preferentemente de origen nacional.
      </p>
    </div>

    <div class="col-12 pt-3">
      <p class="fc-primary fs-sm-1">
        Además, valoramos el trabajo de las pequeñas y medianas editoriales, quienes con su atención al detalle nos
        brindan obras llenas de calidad y dedicación.
      </p>
    </div>

    <div class="col-12 pt-3">
      <p class="fc-primary fs-sm-1">
        Así, cada caja que recibes es una muestra de nuestro compromiso por ofrecerte una experiencia de lectura
        enriquecedora y única.
      </p>
    </div>

    <div class="col-12 pt-3">
      <p class="font-bold fs-sm-1">No te pierdas esta hermosa experiencia.</p>
    </div>

    <div class="col-12 pt-3">
      <button class="col-12 std-button p-2"
        (click)="onClickSubscription()">
        Suscribite
      </button>
    </div>

    <div class="col-12 pt-5">
      <img src="./assets/img/img utils/book-group.png" class="img-fluid" alt="" />
    </div>
  </div>
</section>
