<section class="container-fluid bg-color px-5 py-1">
  <div class="row pb-5 pt-3 align-items-center">
    <div class="col-12 bg-color p-3">
      <div class="row">
        <div class="col-7 pt-4">
          <div class="col-12 pb-3">
            <h4 class="font-medium fs-md-1 fc-primary">Sobre nosotros</h4>
          </div>

          <div class="col-12 py-2">
            <p class="fc-primary fs-sm-1">
              Somos una librería dedicada a ofrecerte una <span class="app-name">experiencia de lectura única y enriquecedora</span>.
            </p>
          </div>

          <div class="col-12 py-2">
            <p class="fc-primary fs-sm-1">
              Desde nuestra fundación, nos hemos comprometido a <span class="app-name">promover el hábito de la lectura</span> y a conectar a los lectores con historias emocionantes, nuevas perspectivas y autores talentosos.
            </p>
          </div>

          <div class="col-12 py-2">
            <p class="fc-primary fs-sm-1">
              Nuestro equipo está formado por apasionados lectores y expertos en el mundo editorial, comprometidos en brindarte un <span class="app-name">servicio excepcional y una atención personalizada</span>. Nos enorgullece ofrecerte no solo una <span class="app-name">amplia selección de libros</span>, sino también recomendaciones personalizadas, eventos literarios y promociones especiales.
            </p>
          </div>

          <div class="col-12 py-2">
            <p class="fc-primary fs-sm-1">
              En Librería Plutón, nos esforzamos por construir una <span class="app-name">comunidad de lectores</span> comprometidos y apasionados.
            </p>
          </div>

          <div class="col-12 py-2">
            <p class="fc-primary fs-sm-1">
               Te invitamos a <span class="app-name">explorar nuestro catálogo, descubrir nuevas lecturas</span> y ser parte de esta aventura literaria con nosotros.
            </p>
          </div>
        </div>

        <div class="col-5 pt-5">
          <img src="./assets/img/img utils/book-room.jpeg" class="img-fluid pt-5" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid px-5 pb-5">
  <div class="row pb-5 pt-3 align-items-center px-5">
    <div class="col-12 p-3">
      <div class="row">
        <div class="col-6">
          <img src="./assets/img/img utils/book-map.jpeg" class="img-fluid pt-5" alt="" />
        </div>

        <div class="col-6 pt-5">
          <form  class="row">
            <div class="col-12">
              <span class="fc-primary fs-sm-1">Envianos un mensaje y te responderemos a la brevedad</span>
            </div>

            <div class="col-12 col-lg-11 col-xl-9 form-register pb-4 pt-4">
              <input type="text" class="form-control fw-300 py-3 formInput" placeholder="Nombre y apellido"/>
            </div>

            <div class="col-12 col-lg-11 col-xl-9 pb-4">
              <input type="email" class="form-control fw-300 py-3 formInput" placeholder="Correo electrónico" />
            </div>

            <div class="col-12 col-lg-11 col-xl-9 pb-4">
              <textarea class="form-control fw-300 py-4 formInput" placeholder="Dejanos tu mensaje"></textarea>
            </div>

            <div class="col-12 col-lg-11 col-xl-9 d-grid gap-2">
              <button type="submit" class="py-2 login-button font-extra-bold fs-md">
                Confirmar
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>
