<div class="modal-body">
  <div class="container">
    <div class="row">
      <div class="text-end pt-4 pe-3">
        <button type="button" class="btn-close" aria-label="Close" (click)="onClose()"></button>
      </div>

      <div class="row justify-content-center">
        <div class="col-12 mb-2">
          <h4 class="font-medium fs-md-1 fc-secondary">
            Editar dirección
          </h4>
        </div>
      </div>
    </div>

    <form [formGroup]="formAddress" (submit)="updateProfile()" class="row justify-content-center">
      <div class="col-12">
        <div class="form-floating">
          <input type="text" id="addressLabel" class="form-control fw-300" placeholder="Calle y número"
            formControlName="address" />
          <label for="addressLabel">Calle y número</label>
        </div>
        <div *ngIf="address?.errors && address?.touched">
          <ng-container *ngFor="let error of errorMessages.address">
            <div class="text-danger" *ngIf="address?.hasError(error.type)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>
      </div>

      <div class="col-12 pt-3">
        <div class="form-floating">
          <input type="text" id="postalCodeLabel" class="form-control fw-300" placeholder="Código postal"
            formControlName="postalCode" />
          <label for="postalCodeLabel">Código postal</label>
        </div>
        <div *ngIf="postalCode?.errors && postalCode?.touched">
          <ng-container *ngFor="let error of errorMessages.postalCode">
            <div class="text-danger" *ngIf="postalCode?.hasError(error.type)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>
      </div>

      <div class="col-12 pt-3">
        <div class="form-floating">
          <input type="text" id="locationLabel" class="form-control fw-300" placeholder="Localidad"
            formControlName="location" />
          <label for="locationLabel">Localidad</label>
        </div>
        <div *ngIf="location?.errors && location?.touched">
          <ng-container *ngFor="let error of errorMessages.location">
            <div class="text-danger" *ngIf="location?.hasError(error.type)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>
      </div>

      <div class="col-12 pt-3">
        <div class="form-floating">
          <input type="text" id="provinceLabel" class="form-control fw-300" placeholder="Provincia"
            formControlName="province" />
          <label for="provinceLabel">Provincia</label>
        </div>
        <div *ngIf="province?.errors && province?.touched">
          <ng-container *ngFor="let error of errorMessages.province">
            <div class="text-danger" *ngIf="province?.hasError(error.type)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>
      </div>

      <div class="modal-footer col-12">
        <button type="submit" class="col-12 confirm-button py-2 login-button font-semi-bold fs-md"
          [disabled]="formAddress.invalid">
          Guardar cambios
        </button>
      </div>
    </form>
  </div>
</div>
