<div class="modal-body">
  <div class="container">
    <div class="row">
      <div class="text-end pt-4 pe-3">
        <button type="button" class="btn-close" aria-label="Close" (click)="onClose()"></button>
      </div>

      <div class="row justify-content-center">
        <div class="col-12 mb-2">
          <h4 class="font-medium fs-md-1 fc-secondary">
            Editar dirección
          </h4>
        </div>
      </div>
    </div>

    <form [formGroup]="formAddress" (submit)="updateUserAddress()" class="row justify-content-center">
      <div class="col-12">
        <div class="form-floating">
          <input type="text" id="address_streetLabel" class="form-control fw-300" placeholder="Calle y número"
            formControlName="address_street" />
          <label for="address_streetLabel">Calle y número</label>
        </div>
        <small class="text-danger mt-2" [hidden]="address_street.valid || address_street.pristine">
          <span *ngIf="address_street.errors?.['required']">
            El campo "Calle y número" es obligatorio
          </span>
        </small>
      </div>

      <div class="col-12 pt-3">
        <div class="form-floating">
          <input type="text" id="postal_codeLabel" class="form-control fw-300" placeholder="Código postal"
            formControlName="postal_code" />
          <label for="postal_codeLabel">Código postal</label>
        </div>
        <small class="text-danger mt-2" [hidden]="postal_code.valid || postal_code.pristine">
          El campo "Código postal"es obligatorio
        </small>
      </div>

      <div class="col-12 pt-3">
        <div class="form-floating">
          <input type="text" id="address_locationLabel" class="form-control fw-300" placeholder="Localidad"
            formControlName="address_location" />
          <label for="address_locationLabel">Localidad</label>
        </div>
        <small class="text-danger mt-2" [hidden]="address_location.valid || address_location.pristine">
          El campo "Localidad"es obligatorio
        </small>
      </div>

      <div class="col-12 pt-3">
        <div class="form-floating">
          <input type="text" id="address_provinceLabel" class="form-control fw-300" placeholder="Provincia"
            formControlName="address_province" />
          <label for="address_provinceLabel">Provincia</label>
        </div>
        <small class="text-danger mt-2" [hidden]="address_province.valid || address_province.pristine">
          El campo "Provincia"es obligatorio
        </small>
      </div>

      <div class="modal-footer col-12">
        <button type="submit" class="col-12 confirm-button py-2 login-button font-semi-bold fs-md"
          [disabled]="formAddress.invalid">
          Guardar cambios
        </button>
      </div>
    </form>
  </div>
</div>